@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply text-purple-900 text-indigo-700 tracking-normal border-b-2 border-indigo-700;
}

.swal2-backdrop {
  background-color: transparent !important;
}

@keyframes fill-up {
  0% {
    stroke-dashoffset: 200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.animate-spin-slow {
  animation: fill-up 2s linear infinite;
}
